@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #2f2f2f;
  color: white;
  text-shadow: 0px 2px 5px black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

code {
  background: rgba(0, 0, 0, 0.1);
}

img {
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
  filter: drop-shadow(0 0 15px black);
}

.typed-cursor {
  display: none;
}
